In [24]:
import os
import pandas as pd
from sqlalchemy import create_engine

In [31]:
engine = create_engine('postgresql://postgres:123456@localhost:5432/Desafio1_Futebol')

In [37]:

for dirname, _, filenames in os.walk('C:\\Users\\pedri\Desktop\\Stuff\\Cursos\\Bootcamp Engenharia Dados\\Desafio 1\\datasets'):
    for filename in filenames:
        file = os.path.join(dirname, filename)

        table_name = filename.split('.csv')[0]

        df = pd.read_csv(file)

        print(f'Creating table {table_name}')
        df.to_sql(table_name, engine, if_exists= 'replace', index = False)

Creating table goalscorers
Creating table results
Creating table shootouts

In [27]:
df0 = pd.read_csv(files[0])

df0[df0['minute'].isnull() == True]

,date,home_team,away_team,team,scorer,minute,own_goal,penalty
3011,1960-10-16,Taiwan,Vietnam Republic,Taiwan,Yiu Cheuk Yin,NaN,False,False
3647,1963-11-26,Ghana,Ethiopia,Ghana,Edward Acquah,NaN,False,False
3648,1963-11-26,Ghana,Ethiopia,Ghana,Edward Acquah,NaN,False,False
3651,1963-11-28,Ethiopia,Tunisia,Ethiopia,Mengistu Worku,NaN,False,False
3652,1963-11-28,Ethiopia,Tunisia,Ethiopia,Mengistu Worku,NaN,False,False
...,...,...,...,...,...,...,...,...
15968,1997-03-27,Saudi Arabia,Bangladesh,Saudi Arabia,Abdullah Al-Dosari,NaN,False,False
15994,1997-03-29,Taiwan,Bangladesh,Taiwan,Hsu Te Ming,NaN,False,False
15995,1997-03-29,Taiwan,Bangladesh,Bangladesh,Alfaz Ahmed,NaN,False,False
15996,1997-03-29,Taiwan,Bangladesh,Bangladesh,Imtiaz Ahmed Nakib,NaN,False,False
16005,1997-03-31,Bangladesh,Malaysia,Malaysia,Zainal Abidin Hassan,NaN,False,False

In [32]:
df0.to_sql('goalscorers', engine)

8